<h1> No one questions what happened at building 7, a building that was considered to be totally indestructible, so what happened?</h1>

<%= link_to 'Home', root_path %>

<img src="http://rememberbuilding7.org/wp-content/uploads/2010/08/wtc-building-7-map.jpg" alt="WHAT HAPPENED?">